$backColor1: #413543;
$gray8: #343a40;

.bus {
  padding: 0;
}
.bus__body {
  padding: 0 13px;
}
// 지도와 블럭 사이공간
div + .bus__block1 {
  margin-top: 13px;
}
.bus__block1--left + .bus__block1--right {
  margin-left: 13px;
}

.bus__block1 {
  display: flex;
  justify-content: center;
}
.bus__block1 > div {
  border-radius: 40px;
  height: 180px;
  width: 50%;
}
.bus__block1--left {
  background-color: $gray8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 35px;
}
.bus__block1--left-firstLine {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.bus__block1--left-secoundLine {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.bus__block1--left-secoundLine > div:nth-child(1) {
  font-size: 60px;
}
.bus__block1--left-secoundLine > div:nth-child(2) {
  font-size: 15px;
}

.bus__block1--right {
  background-color: $backColor1;
  display: -webkit-box; /* Webkit */
  display: -moz-box; /* Mozilla */
  display: flex;
  -webkit-box-orient: vertical; /* Webkit */
  -webkit-box-direction: normal; /* Webkit */
  -moz-box-orient: vertical; /* Mozilla */
  -moz-box-direction: normal; /* Mozilla */
  flex-direction: column;
  -webkit-box-pack: justify; /* Webkit */
  -moz-box-pack: justify; /* Mozilla */
  justify-content: space-between;
}
.bus__block1--right > div:nth-child(1) {
  margin: 35px 0 0 13px;
  font-size: 18px;
}
.bus__block1--right > div:nth-child(2) {
  display: -webkit-box; /* Webkit */
  display: -moz-box; /* Mozilla */
  display: flex;
  -webkit-box-pack: end; /* Webkit */
  -moz-box-pack: end; /* Mozilla */
  justify-content: flex-end;
  margin: 0 13px 13px 0;
}
.blcok1--right--sententce + .blcok1--right--sententce {
  margin-top: 8px;
}
.refresh-button {
  cursor: pointer;
  height: 40px;
}
