$backColor1: #413543;

.bus {
  padding: 0;
}
.bus__block1 {
  background-color: $backColor1;
  margin: 0 10px;
  border-radius: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.bus__block1--title {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}
