$font: #868e96; // 기본글자색

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 40px;
  height: 10.26vw;
  // margin-top: 13px;
  margin-top: 3.33vw;
  border-top: 1px solid #343a40;
  color: $font;
}
