$font: #868e96; // 기본글자색

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.26vw;
  max-height: 43px; // 갤럭시 폴드 대응
  // margin-top: 13px;
  margin-top: 3.33vw;
  border-top: 1px solid #343a40;
  color: $font;
}
