$gray-09: #212529; // 기본배경색

.header {
  background-color: $gray-09;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 80;
}
.header__logo {
  margin-left: 20px;
  height: 45px;
}
.header__button {
  margin-right: 20px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}
