$backColor1: #413543;
$backColor2: #404258;
$gray8: #343a40;
$gray9: #212529; // 기본배경색
$fontColor: #f8f9fa; // 기본글자색

.home {
  padding: 0;
  .home__body {
    padding: 0 3.33vw;
  }
}
.home__title {
  button {
    height: 11.54vw;
    max-height: 50px; // 갤럭시 폴드 대응
    width: 50%;
    text-align: center;
    font-size: clamp(1px, 4.8vw, 22px); // 최소 10px, 최대 22px, 기본값 4.8vw; 갤럭시 폴드 대응
  }
  > button:nth-child(1) {
    border-top-left-radius: 10.26vw;
    border-bottom-left-radius: 10.26vw;
  }
  > button:nth-child(2) {
    border-top-right-radius: 10.26vw;
    border-bottom-right-radius: 10.26vw;
  }
  .home__title-selected {
    background-color: $backColor1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
  }
  .home__title-unselected {
    background-color: $gray8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
  }
}
