$gray8: #343a40;
$gray9: #212529; // 기본배경색
$fontColor: #f8f9fa; // 기본글자색
$iconBackground: #404258;

.title {
  background-color: $gray9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // margin-bottom: 15px;
  margin-bottom: clamp(1px, 3vw, 16px); // 갤럭시 폴드 대응
  .title__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 11.54vw;
    max-height: 48px; // 갤럭시 폴드 대응
    width: 11.54vw;
    max-width: 48px; // 갤럭시 폴드 대응
    border-radius: clamp(1px, 5.13vw, 22px); // 갤럭시 폴드 대응
    background-color: $iconBackground;
    margin-left: clamp(1px, 3.85vw, 27px); // 갤럭시 폴드 대응
    margin-right: clamp(1px, 3.85vw, 16px); // 갤럭시 폴드 대응
  }
  .title__select {
    position: relative;
    display: flex;
    align-items: center;
    .title__letter {
      font-size: clamp(1px, 5.38vw, 25px); // 갤럭시 폴드 대응
    }
    select {
      font-size: clamp(1px, 4vw, 15px); // 갤럭시 폴드 대응
      text-align-last: center; // 중앙정렬
      -webkit-text-align-last: center; // 아이폰에서도 적용
      -moz-text-align-last: center;
      -ms-text-align-last: center;
      appearance: none;
      text-decoration: none;
      border: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $gray8;
      color: $fontColor;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
    .title__select-button {
      width: 2vw;
      max-width: 10px; // 갤럭시 폴드 대응
      margin-left: 1.5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
.meal__body {
  padding: 0 3.33vw;
}
.days {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 가로 스크롤 기능 자동 동작 */
  overflow-y: scroll;
  /* 스크롤바 안보이기  */
  -ms-overflow-style: none; /*익스플로러*/
  scrollbar-width: none; /*파이어폭스*/
  &::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
  button + button {
    margin-left: 10px;
  }
  .day {
    color: #adb5bd;
    background-color: #343a40;
    font-size: 15px;
    padding: 8px;
    white-space: nowrap;
    text-align: center;
    border-radius: 4vw;
    &:hover {
      cursor: pointer;
    }
  }
  .selected-day {
    color: #f8f9fa;
    background-color: #cf7500;
    font-size: 18px;
    padding: 11px;
  }
}
.days + .meal-categories {
  margin-top: 3.33vw;
}
.meal-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  .meal-category {
    color: #495057;
    font-size: 16px;
    text-align: center;
    width: 25%;
    &:hover {
      cursor: pointer;
    }
  }
  .selected-meal-category {
    color: #f8f9fa;
    font-size: 18px;
  }
}
.meal-categories + .meal-menus {
  margin-top: 3.33vw;
}
.meal-menus {
  .meal-menu + .meal-menu {
    margin-top: 3.33vw;
  }
  .meal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e4f4f;
    border-radius: 30px;
    height: 180px;
    .meal-menu__title {
      font-size: 18px;
      margin-left: 20px;
    }
    .meal-menu__body {
      display: flex;
      align-items: center;
      justify-content: center;
      .meal-menu__image {
        width: 130px;
      }
      .meal-menu__wrapper {
        .meal-menu__name {
          font-size: 15px;
        }
        .meal-menu__detaile {
          font-size: 10px;
        }
      }
    }
  }
}
