$iconBackground: #404258;

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.title__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 20px;
  background-color: $iconBackground;
  margin-left: 15px;
  margin-right: 15px;
}
.title__letter {
  font-size: 21px;
}
