$iconBackground: #404258;
$gray-09: #212529; // 기본배경색

.title {
  background-color: $gray-09;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // margin-bottom: 15px;
  margin-bottom: 3.85vw;
}
.title__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // height: 45px;
  // width: 45px;
  height: 11.54vw;
  width: 11.54vw;
  // border-radius: 20px;
  border-radius: 5.13vw;
  background-color: $iconBackground;
  // margin-left: 15px;
  // margin-right: 15px;
  margin-left: 3.85vw;
  margin-right: 3.85vw;
}
.title__letter {
  // font-size: 21px;
  font-size: 5.38vw;
}
